<section>
    <div class="foto">
        <h1>San Jose, CA</h1>
        <img src="../../assets/images/sanjose.jpg" alt="San Jose">
    </div>
    <div class="info">
        <p><strong>Humidity:</strong> {{result.main.humidity}} %</p>
        <p><strong>Temperature (Average):</strong> {{result.main.temp}} C°</p>
        <p><strong>Temperature (High):</strong> {{result.main.temp_max}} C°</p>
        <p><strong>Temperature (Low):</strong> {{result.main.temp_min}} C°</p>
        <p><strong>Status:</strong> {{result.weather[0].main}} - {{result.weather[0].description}}</p>
    </div>
</section>
